@media (min-width: 992px) and (max-width: 1199.98px) {
    header .myNavul li a {
        font: 600 16px/1.3 'Inter', sans-serif;
    }

    header .nav-search .search_bar {
        width: 140px;
    }

    .service-content .heading h4 {
        font: 500 24px/1.3 'Inter', sans-serif;
    }

    .service-content p {
        height: 342px;
    }

    .our-projects .project-card p {
        font: 400 13px/1.3 'Inter', sans-serif;
    }

    /* Extra large device */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-toggler {
        border: 1px solid #fff;
        color: #fff;
    }

    .myNavul {
        text-align: center;
        margin-top: 16px;
    }
    
    header .nav-search .search_bar {
        width: 100%;
        opacity: 1;
    }

    main {
        padding: 174px 0 40px 0;
    }

    main .hero-area-content h1 {
        letter-spacing: 6px;
        margin-bottom: 20px;
        font: 700 42px/1.3 'Inter', sans-serif;
    }

    main .hero-area-content h2 {
        margin-bottom: 20px;
        font: 400 34px/1.3 'Inter', sans-serif;
    }

    main aside {
        margin-top: 54px;
    }

    #projects .project-content .img img {
        height: 260px;
    }

    .ongc-detail-contnet .logo h2 {
        font: 500 36px/1.3 'Inter', sans-serif;
    }

    .ongc-detail-contnet .logo {
        margin-bottom: 52px;
    }

    .ongc-detail-inner h3 {
        margin-top: 20px;
        font: 300 28px/1.3 'Inter', sans-serif;
    }

    .ongc-detail-inner p {
        margin: 12px 2px;
        font: 400 16px/1.55 'Inter', sans-serif;
    }

    .service-content .heading h4 {
        font: 500 24px/1.3 'Inter', sans-serif;
    }
    
    .service-content p {
        height: 196px;
    }

    #service .ser-md-d {
        margin-top: 16px;
    }

    #projects .small-gap {
        margin-top: 24px;
    }

    .our-projects .project-card h4 {
        padding: 16px 0;
        font: 500 26px/1.3 'Inter', sans-serif;
    }

    .our-projects .project-card p {
        font: 400 13px/1.3 'Inter', sans-serif;
    }

    .detail-data table thead tr th span {
        font: 500 17px/1.3 'Inter', sans-serif;
    }

    .detail-data table tbody tr td span {
        font: 400 14px/1.3 'Inter', sans-serif;
    }



    /* Large device */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .section-intro h3 {
        font-size: 28px;
    }

    main {
        padding: 160px 0 40px 0;
    }

    main aside {
        margin-top: 40px;
    }

    main .hero-area-content h1 {
        letter-spacing: 6px;
        margin-bottom: 12px;
        font: 700 40px/1.3 'Inter', sans-serif;
    }

    main .hero-area-content h2 {
        letter-spacing: 4px;
        margin-bottom: 12px;
        font: 400 26px/1.3 'Inter', sans-serif;
    }

    main .hero-area-content h3 {
        padding-top: 20px;
        font: 100 24px/1.3 'Inter', sans-serif;
    }

    .portal {
        top: 25%;
    }

    #widget {
        padding: 80px 0;
    }

    #projects {
        padding: 80px 0;
    }

    #projects .small-gap {
        margin-top: 0;
    }

    #projects .p-sm-d .col-6 {
        padding: 0 8px;
    }

    #projects .sm-d {
        margin-top: 12px;
    }

    #projects .project-content .img img {
        height: 240px;
    }

    .project-content .img-overlay h5 {
        font: 400 18px/1.3 'Inter', sans-serif;
    }

    .project-content .img-text h6 {
        font: 400 15px/1.3 'Inter', sans-serif;
    }

    #video {
        padding: 80px 0;
    }

    #video .v-sm-d {
        margin-top: 16px;
    }

    #detail-count .marginTop {
        margin-top: 0;
    }

    #detail-count .c-sm-d {
        margin-top: 16px;
    }

    .detail-count-inner .number {
        margin: 16px 0 8px 0;
    }

    .detail-count-inner .number span {
        font: 500 34px/1.3 'Inter', sans-serif;
    }

    .detail-count-inner p {
        color: #fff;
        text-transform: capitalize;
        font: 300 15px/1.3 'Inter', sans-serif;
    }

    #ongc-detail {
        padding: 96px 0;
    }

    .ongc-detail-contnet .logo {
        margin-bottom: 40px;
    }

    .ongc-detail-contnet .logo img {
        width: 200px;
    }

    .ongc-detail-contnet .logo h2 {
        margin-top: 20px;
        letter-spacing: 2px;
        font: 500 28px/1.3 'Inter', sans-serif;
    }

    .ongc-detail-inner h3 {
        margin-top: 20px;
        letter-spacing: 2px;
        font: 300 24px/1.3 'Inter', sans-serif;
    }

    .ongc-detail-inner p {
        margin: 6px 4px;
        font: 400 15px/1.55 'Inter', sans-serif;
    }

    #service .ser-sm {
        justify-content: center;
    }

    .service-content .heading h4 {
        font: 500 20px/1.3 'Inter', sans-serif;
    }
    
    .service-content p {
        height: 164px;
    }

    #service .s-sm-d {
        margin-top: 12px;
    }

    #service .ser-img {
        display: none;
    }

    #projects.our-projects .op-sm-d {
        margin-top: 8px;
    }

    #contact {
        padding: 100px 0 80px 0;
    }

    #contact .contact {
        margin-top: 48px;
    }

    .gallery-images .mySlides img {
        height: 320px;
    }

    .gallery-images .project-text p {
        font: 400 16px/1.3 'Inter', sans-serif;
    }

    .gallery-images .prev, .gallery-images .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    /* Medium device */
}

@media (min-width: 381px) and (max-width: 575.98px) {

    /* Small device */
}

@media (max-width: 767.98px) {
    .navbar-toggler {
        border: 1px solid #fff;
        color: #fff;
    }

    .myNavul {
        text-align: center;
        margin-top: 16px;
    }
    
    header .nav-search .search_bar {
        width: 100%;
        opacity: 1;
    }

    #widget .container .next,
    #widget .container .prev {
        display: none;
    }

    .detail-data table, 
    .detail-data thead, 
    .detail-data tbody, 
    .detail-data tr,
    .detail-data th,
    .detail-data td {
        display: block ;
    }

    .detail-data thead {
        position: absolute;
        opacity: 0;
    }

    .detail-data tr {
        margin: 8px 0;
    }

    .detail-data td {
        border-bottom: 1px solid #333333;
        text-align: start !important;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        margin-right: 8px;
    }

    .detail-data td span {
        font-size: 14px !important;
    }

    .detail-data td::before {
        margin-right: auto;
        margin-left: 8px;
        font-size: 15px;
    }

    .detail-data td:last-child {
        border-bottom: 1px solid transparent;
    }

    .detail-data td:nth-of-type(1)::before {
        content: 'Project Name :';
    }

    .detail-data td:nth-of-type(2)::before {
        content: 'Project Type :';
    }

    .detail-data td:nth-of-type(3)::before {
        content: 'Location :';
    }

    .our-projects .project-card i {
        font-size: 26px;
    }

    .our-projects .project-card h4 {
        padding: 12px 0;
        font: 500 22px/1.3 'Inter', sans-serif;
    }

    .our-projects .project-card p {
        font: 400 13px/1.3 'Inter', sans-serif;
    }


    
    /* Small+Medium common device */
}

@media (max-width: 575.98px) {
    * {
        overflow-x: hidden;
    }

    .section-intro h3 {
        font-size: 22px;
    }

    .section-intro-bttm-gap {
        padding-top: 24px;
    }

    main {
        padding: 144px 0 40px 0;
    }

    main .hero-area-content h1 {
        letter-spacing: 4px;
        margin-bottom: 8px;
        font: 700 30px/1.3 'Inter', sans-serif;
    }

    main .hero-area-content h2 {
        letter-spacing: 4px;
        margin-bottom: 12px;
        font: 400 24px/1.3 'Inter', sans-serif;
    }

    main .hero-area-content h3 {
        padding-top: 16px;
        font: 100 26px/1.3 'Inter', sans-serif;
    }

    main aside {
        margin-top: 24px;
    }

    main aside .img img {
        width: 180px;
    }

    main aside .hero-social-icons {
        gap: 10px;
        font-size: 20px;
    }

    .portal {
        top: 20%;
    }

    .portal .portal-heading {
        margin-top: 10px;
        padding: 8px 14px;
        font: 600 14px/1.3 'Inter', sans-serif;
    }

    .portal .portal-visual {
        width: 120px;
    }

    .portal .portal-inner .portal-inner-heading {
        font: 600 15px/1.3 'Inter', sans-serif;
        padding-bottom: 4px;
    }

    .portal .portal-inner ul {
        margin-top: 8px;
    }

    .portal .portal-inner ul li {
        padding: 0px 0;
    }

    .portal .portal-inner ul li a {
        font: 300 14px/1.3 'Inter', sans-serif;
    }

    .backtotop {
        display: none;
    }

    #widget {
        padding: 40px 0;
    }

    #ongc-detail {
        padding: 0px 0;
    }

    #projects {
        padding: 40px 0;
    }

    #projects .project-content .img img {
        height: 200px;
    }

    #projects .small-gap {
        margin-top: 0;
    }

    #projects .p-sm-d .col-6 {
        padding: 0 4px;
    }

    #projects .sm-d {
        margin-top: 12px;
    }

    .project-content .img-overlay {
        padding: 8px 4px;
    }

    .project-content .img-overlay h5 {
        font: 400 15px/1.3 'Inter', sans-serif;
    }

    .project-content .img-text h6 {
        font: 400 14px/1.3 'Inter', sans-serif;
    }

    .project-content .img-action a {
        width: 108px;
        top: 62px;
        left: 68px;
    }
    
    .project-content:hover .img-action a {
        height: 108px;
    }

    .project-content .img-action a i {
        bottom: 44px;
        left: 12px;
        font-size: 17px;
    }

    #projects .bottom-action a {
        padding: 12px 44px 12px 24px;
        font: 500 16px/1.3 'Inter', sans-serif;
    }

    #video {
        padding: 40px 0;
    }

    #video .v-sm-d {
        margin-top: 16px;
    }

    #detail-count {
        padding: 40px 0;
    }

    .video-content p {
        margin-top: 0px;
    }

    .detail-count-inner .icon {
        font-size: 26px;
    }

    .detail-count-inner .number span {
        font: 500 28px/1.3 'Inter', sans-serif;
    }

    .detail-count-inner p {
        font: 300 14px/1.3 'Inter', sans-serif;
    }

    .detail-count-inner .number {
        margin: 6px 0 2px 0;
    }

    #detail-count .marginTop {
        margin-top: 0;
    }

    #detail-count .c-sm-d {
        margin-top: 12px;
    }

    #ongc-detail.about-page {
        padding-top: 96px;
    }

    #ongc-detail .container {
        padding: 48px 0;
    }

    .ongc-detail-contnet .logo img {
        width: 180px;
    }

    .ongc-detail-contnet .logo h2 {
        margin-top: 16px;
        letter-spacing: 2px;
        font: 500 21px/1.3 'Inter', sans-serif;
    }

    .ongc-detail-contnet .logo {
        margin-bottom: 20px;
    }

    .ongc-detail-inner h3 {
        margin-top: 16px;
        letter-spacing: 0;
        font: 300 20px/1.3 'Inter', sans-serif;
    }

    .ongc-detail-inner p {
        margin: 8px 6px;
        font: 400 14px/1.55 'Inter', sans-serif;
    }

    footer {
        padding: 32px 0;
    }

    .footer-content .img img {
        width: 180px;
    }

    .footer-content .footer-social-icons {
        gap: 8px;
        margin: 12px 0;
        font-size: 20px;
    }

    .footer-content p {
        font: 300 14px/1.55 'Inter', sans-serif;
    }

    .footer-content ul {
        margin-top: 10px;
    }

    #service .ser-sm {
        justify-content: center;
    }

    .service-content .heading i {
        font-size: 24px;
    }

    .service-content .heading h4 {
        font: 500 19px/1.3 'Inter', sans-serif;
    }
    
    .service-content p {
        height: 240px;
    }

    #service .s-sm-d {
        margin-top: 12px;
    }

    #service .ser-img {
        display: none;
    }

    #projects.our-projects {
        padding-top: 110px;
    }

    #projects.our-projects .op-sm-d {
        margin-top: 8px;
    }

    #projects.our-projects .project-content .sm-d {
        margin-top: 12px;
    }

    #projects.our-projects .project-content .img img {
        height: 200px;
    }

    #projects.our-projects .project-content .project-card i {
        font-size: 26px;
    }

    #projects.our-projects .project-content .project-card h4 {
        padding: 8px 0;
        font: 500 22px/1.3 'Inter', sans-serif;
    }

    #projects.our-projects .project-content .img-overlay {
        padding: 8px 4px;
    }

    #projects.our-projects .project-content.img-overlay h5 {
        font: 400 15px/1.3 'Inter', sans-serif;
    }

    #projects.our-projects .project-content .img-text h6 {
        font: 400 14px/1.3 'Inter', sans-serif;
    }

    #projects.our-projects .project-content .img-action a {
        width: 108px;
        top: 62px;
        left: 68px;
    }
    
    #projects.our-projects .project-content:hover .img-action a {
        height: 108px;
    }

    #projects.our-projects .project-content .img-action a i {
        bottom: 44px;
        left: 12px;
        font-size: 17px;
    }

    #projects.our-projects .project-content .img-action a {
        padding: 12px 44px 12px 24px;
        font: 500 16px/1.3 'Inter', sans-serif;
    }

    #project-detail {
        padding: 40px 0;
    }

    #contact {
        padding: 104px 0 40px 0;
    }

    #contact .contact {
        margin-top: 40px;
    }

    .contact-detail {
        padding: 32px 24px 16px 24px;
    }

    .contact-detail .heading h4 {
        color: #c98c39;
        text-transform: uppercase;
        font: 600 22px/1.3 'Inter', sans-serif;
    }

    .contact-detail .phone a, 
    .contact-detail .mobile a, 
    .contact-detail .email a, 
    .contact-detail .website a, 
    .contact-detail address, 
    .contact-detail p {
        gap: 12px;
        font-size: 14px;
    }

    .contact-detail .phone a i, 
    .contact-detail .mobile a i, 
    .contact-detail .email a i, 
    .contact-detail .website a i, 
    .contact-detail address i, 
    .contact-detail p i {
        color: #003061;
        font-size: 17px;
    }

    .contact-form textarea {
        height: 140px;
    }

    .gallery-btm-content .heading h5 {
        padding-bottom: 6px;
        font: 700 19px/1.5 'Inter', sans-serif;
    }

    .gallery-images .mySlides img {
        height: 240px;
    }

    .gallery-images .project-text p {
        font: 400 14px/1.3 'Inter', sans-serif;
    }

    .gallery-images .prev, .gallery-images .next {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .gallery-btm-content .heading {
        margin-bottom: 24px;
    }

    .gallery-btm-content .project-details ul li .name, 
    .gallery-btm-content .project-details ul li a .name {
        font: 700 14px/1.3 'Inter', sans-serif;
    }

    .gallery-btm-content .project-details ul li .detail, 
    .gallery-btm-content .project-details ul li a .detail {
        font: 300 14px/1.5 'Inter', sans-serif;
    }

    .return-btn button {
        padding: 6px 16px;
        font-size: 14px;
    }

    .project-info p {
        font: 400 14px/1.5 'Inter', sans-serif;
    }

    .project-info ul li {
        font-size: 14px;
    }
    
    /* Small common device */
}

@media (max-width: 380.98px) {
    .service-content p {
        height: 270px;
    }
    
    /* Extra small device */
}